*{
    margin:0;
    border:border-box;
}
.navbar{
    height:30px;
    width:100%;
    font-size: medium;
    border: 2px solid blueviolet;
    background-color:blue;
    color:white;
    display:flex;
    justify-content:space-evenly;
}
.logo{
    margin-top:-4px;
}
button{
    font-size: medium;
}
input{
    border-bottom-right-radius:4px;
    border-top-right-radius:4px;
    border-bottom-left-radius:4px;
    border-top-left-radius:4px;
    width:250px;
}
.home{
    text-decoration: none;
    color: white;
}
.account{
    text-decoration: none;
    color: white;
}
.cart{
    text-decoration: none;
    color: white;
}
.second{
    height: 100px;
    width:100px;
    padding:10px;
    margin:10px;
    display:inline-block;
    border:3px solid grey;
    background-image: url("mobile.webp");
    background-size: cover;
    border-radius: 12px;
}
.third{
    height: 100px;
    width:100px;
    padding:10px;
    margin:10px;
    display:inline-block;
    border:3px solid grey;
    background-image: url("dress.jpg");
    background-size: cover;
    border-radius: 12px;
}
.fourth{
    height: 100px;
    width:100px;
    padding:10px;
    margin:10px;
    display:inline-block;
    border:3px solid grey;
    background-image: url("refrigerator.jpg");
    background-size: cover;
    border-radius: 12px;
}
.fifth{
    height: 100px;
    width:100px;
    padding:10px;
    margin-bottom:-175px;
    margin-left:-435px;
    display:inline-block;
    border:3px solid grey;
    background-image: url("makeup.jpg");
    background-size: cover;
    border-radius: 12px;
}
.store{
    margin-left: 550px;
    margin-top:-167px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
}
.s1{
    height: 100px;
    width:100px;
    padding:10px;
    margin:10px;
    display:inline-block;
    border:3px solid grey;
    background-image: url("bluetooth.png");
    background-size: cover;
    border-radius: 12px;
}
.s2{
    height: 100px;
    width:100px;
    padding:10px;
    margin:10px;
    display:inline-block;
    border:3px solid grey;
    background-image: url("piano.jpg");
    background-size: cover;
    border-radius: 12px;
}
.s3{
    height: 100px;
    width:100px;
    padding:10px;
    margin:10px;
    display:inline-block;
    border:3px solid grey;
    background-image: url("smartwatch.jpg");
    background-size: cover;
    border-radius: 12px;
}
.flip{
    margin-left:185px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    margin-top: 150px;
}
.f1{
    height: 100px;
    width:100px;
    padding:10px;
    margin:10px;
    margin-left:-170px;
    display:inline-block;
    border:3px solid grey;
    background-image: url("shoe.jpg");
    background-size: cover;
    border-radius: 12px;
}
.f2{
    height: 100px;
    width:100px;
    padding:10px;
    margin:10px;
    display:inline-block;
    border:3px solid grey;
    background-image: url("tv.jpg");
    background-size: cover;
    border-radius: 12px;
}
.f3{
    height: 100px;
    width:100px;
    padding:10px;
    margin:10px;
    display:inline-block;
    border:3px solid grey;
    background-image: url("kitchen.jpg");
    background-size: cover;
    border-radius: 12px;
}
.f4{
    height: 100px;
    width:100px;
    padding:10px;
    margin:10px;
    margin-bottom: -130px;
    margin-left:-440px;
    display:inline-block;
    border:3px solid grey;
    background-image: url("laptop.jpg");
    background-size: cover;
    border-radius: 12px;
}
.styling{
    height:100%;
    width:450;
    background-color:#FBF9F1;
    margin-left:1078px;
    margin-top:-483px;
    text-align: center;
    padding-top:150px;
    border-radius:20px;
}
.selection{
    height:350px;
    width:350px;
    margin-left:550px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    margin-top: -700px;
    background-color:#EEEDEB;
    text-align: center;
}
.select{
    height: 150px;
    width:150px;
    background-image: url("kurta.jpg");
    background-size:cover;
    margin-left: 10px;
}
.secondselect{
    height: 150px;
    width:150px;
    background-image: url("mens.jpg");
    background-size:cover;
    margin-left: 180px;
}
.foryou{
    margin-top:100px;
    margin-left:185px;
}
.for1{
    height:120px;
    width:120px;
    padding:10px;
    margin:10px;
    margin-left:-170px;
    background-image: url("airpods.jpg");
    background-size: cover;
    display:inline-block;
    border:3px solid grey;
    border-radius: 12px;
}
.for2{
    height: 120px;
    width:120px;
    padding:10px;
    margin:10px;
    background-image: url("halfsaree.jpg");
    background-size: cover;
    display:inline-block;
    border:3px solid grey;
    border-radius: 12px;
}
.for3{
    height: 120px;
    width:120px;
    padding:10px;
    margin:10px;
    background-image: url("headphones.jpg");
    background-size: cover;
    display:inline-block;
    border:3px solid grey;
    border-radius: 12px;
}
.for4{
    height: 120px;
    width:120px;
    padding:10px;
    margin:10px;
    background-image: url("top.jpg");
    background-size: cover;
    display:inline-block;
    border:3px solid grey;
    border-radius: 12px;
}
.for5{
    height: 120px;
    width:120px;
    padding:10px;
    margin:10px;
    background-image: url("jeans.jpg");
    background-size: cover;
    display:inline-block;
    border:3px solid grey;
    border-radius: 12px;
}
.for6{
    height: 120px;
    width:120px;
    padding:10px;
    margin:10px;
    background-image: url("kids.jpg");
    background-size: cover;
    display:inline-block;
    border:3px solid grey;
    border-radius: 12px;
}